div.block

	img.block__img(src="", alt="")
	div.block__body
		a 
		p
		div
			span
				a See Translation
			span
				a(href="http://", target="_blank") link
			span
				a(href="http://", target="_blank") link
