footer.footer
	div
		div.brand
			h1: a(href="#") DANTE & DESCARTES
			h2: a(href="#") LIBRERIA
		div.footer-wrapper
			section.settings
					nav.settings-navf
						ul
							li: a(href="#") MY ACCOUNT
							li: a(href="#") SHIPPING
							li: a(href="#") SITEMAP
							li: a(href="#") LEGAL NOTICE
							li: a(href="#") TERMS & CONDITIONS
			section.menuf			
				nav
					ul
						li: a(href="#") Catalogo
						li: a(href="#") Edizioni
						li: a(href="#") Blog
						li: a(href="#") Dove Siamo
						
			section.action
				ul
					li.cart
						a(href="#") 
							i.fa.fa-shopping-cart

					li.search-form-menu
						a(href="#") 
							i.fa.fa-search
						div.search-bar 
							form(id="search-bar", method="", action="")
								input									
				ul
					li.fb
						a(href="") 
					li.ebay

