header.page_header
	div.header-wrap
		div.brand
			h1.bigbrand 
				a(href="#") DANTE & DESCARTES
			h2.litlebrand
				a(href="#") LIBRERIA
		section.settings
				nav.settings-nav
					ul
						li: a(href="#") ITA
						li: a(href="#") €
						li: img(class='paypal' src="asset/images/pay_pal_logo.png", alt="")
					ul
						li: a(href="#") SIGN IN
						li: a(href="#") ACCOUNT
					ul
						li: a(href="#") LOG IN

						li.last:   a.fb-connect LOG IN FACEBOOK
		section.menu.primary_menu			
			nav
				ul
					li: a(href="#search-form") Catalogo
					li: a(href="#") Edizioni
					li: a(href="#blog") Blog
					li: a(href="#contact") Dove Siamo
		section.action
			ul
				li.cart
					a(href="#") 
						i.fa.fa-shopping-cart

				li.search-form-menu
					div.search_bar
						form(id="search-bar", method="", action="")
								input(class="field txt",name="s",id="top_S",placeholder="Cerca nel nostro catalogo",Type="text")
					a.search_button_trigger(href="#") 
						i.fa.fa-search
			div.arrow

