#cse3-DIV_1 {
    color: rgb(92, 92, 92);
    height: 196px;
    width: 1264px;
    perspective-origin: 632px 98px;
    transform-origin: 632px 98px;
    border: 0px none rgb(92, 92, 92);
    font: normal normal normal normal 12px/20.0000400543213px Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(92, 92, 92) none 0px;
}/*#cse3-DIV_1*/

#cse3-DIV_1:after {
    clear: both;
    color: rgb(92, 92, 92);
    display: table;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: ' ';
    border: 0px none rgb(92, 92, 92);
    font: normal normal normal normal 12px/20.0000400543213px Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(92, 92, 92) none 0px;
}/*#cse3-DIV_1:after*/

#cse3-DIV_1:before {
    color: rgb(92, 92, 92);
    display: table;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: ' ';
    border: 0px none rgb(92, 92, 92);
    font: normal normal normal normal 12px/20.0000400543213px Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(92, 92, 92) none 0px;
}/*#cse3-DIV_1:before*/

#cse3-DIV_2 {
    box-sizing: border-box;
    color: rgb(92, 92, 92);
    float: left;
    height: 196px;
    min-height: 1px;
    position: relative;
    width: 1264px;
    perspective-origin: 632px 98px;
    transform-origin: 632px 98px;
    border: 0px none rgb(92, 92, 92);
    font: normal normal normal normal 12px/20.0000400543213px Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(92, 92, 92) none 0px;
}/*#cse3-DIV_2*/

#cse3-DIV_3 {
    color: rgb(92, 92, 92);
    height: 196px;
    width: 1264px;
    perspective-origin: 632px 98px;
    transform-origin: 632px 98px;
    border: 0px none rgb(92, 92, 92);
    font: normal normal normal normal 12px/20.0000400543213px Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(92, 92, 92) none 0px;
}/*#cse3-DIV_3*/

#cse3-SECTION_4 {
    color: rgb(92, 92, 92);
    height: 146px;
    position: relative;
    text-align: center;
    width: 1264px;
    backface-visibility: hidden;
    perspective-origin: 632px 98px;
    transform-origin: 632px 98px;
    background: rgb(248, 248, 248) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(92, 92, 92);
    font: normal normal normal normal 12px/20.0000400543213px Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(92, 92, 92) none 0px;
    padding: 0px 0px 50px;
}/*#cse3-SECTION_4*/

#cse3-DIV_5 {
    color: rgb(92, 92, 92);
    height: 146px;
    text-align: center;
    width: 1264px;
    perspective-origin: 632px 73px;
    transform-origin: 632px 73px;
    border: 0px none rgb(92, 92, 92);
    font: normal normal normal normal 12px/20.0000400543213px Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(92, 92, 92) none 0px;
}/*#cse3-DIV_5*/

#cse3-DIV_5:after {
    clear: both;
    color: rgb(92, 92, 92);
    display: table;
    text-align: center;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: ' ';
    border: 0px none rgb(92, 92, 92);
    font: normal normal normal normal 12px/20.0000400543213px Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(92, 92, 92) none 0px;
}/*#cse3-DIV_5:after*/

#cse3-DIV_5:before {
    color: rgb(92, 92, 92);
    display: table;
    text-align: center;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: ' ';
    border: 0px none rgb(92, 92, 92);
    font: normal normal normal normal 12px/20.0000400543213px Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(92, 92, 92) none 0px;
}/*#cse3-DIV_5:before*/

#cse3-H2_6 {
    color: rgb(92, 92, 92);
    height: 15px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 1224px;
    perspective-origin: 632px 52.5px;
    transform-origin: 632px 52.5px;
    border: 0px none rgb(92, 92, 92);
    font: normal normal bold normal 12px/15.9999589920044px Raleway, arial, sans-serif;
    margin: 0px;
    outline: rgb(92, 92, 92) none 0px;
    padding: 50px 20px 40px;
}/*#cse3-H2_6*/

#cse3-FORM_7 {
    color: rgb(92, 92, 92);
    height: 41px;
    text-align: center;
    width: 1264px;
    perspective-origin: 632px 20.5px;
    transform-origin: 632px 20.5px;
    border: 0px none rgb(92, 92, 92);
    font: normal normal normal normal 12px/20.0000400543213px Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    margin: 0px;
    outline: rgb(92, 92, 92) none 0px;
}/*#cse3-FORM_7*/

#cse3-INPUT_8 {
    color: rgb(153, 153, 153);
    height: 30px;
    width: 350px;
    perspective-origin: 175px 15px;
    transform-origin: 175px 15px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 0px none rgb(153, 153, 153);
    border-right: 0px none rgb(153, 153, 153);
    border-bottom: 1px solid rgb(60, 60, 60);
    border-left: 0px none rgb(153, 153, 153);
    font: normal normal normal normal 12px/normal Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    margin: 5px;
    outline: rgb(153, 153, 153) none 0px;
    padding: 3px 4px;
}/*#cse3-INPUT_8*/

#cse3-SELECT_9, #cse3-SELECT_17 {
    background-position: 94% 50%;
    color: rgb(153, 153, 153);
    height: 30px;
    text-indent: 0.00999999977648258px;
    width: 350px;
    perspective-origin: 175px 15px;
    transform-origin: 175px 15px;
    background: rgba(0, 0, 0, 0) url(http://tokokoodemo.us/papirus/books/wp-content/themes/papirus/img/select.png) no-repeat scroll 94% 50% / auto padding-box border-box;
    border-top: 0px none rgb(153, 153, 153);
    border-right: 0px none rgb(153, 153, 153);
    border-bottom: 1px solid rgb(60, 60, 60);
    border-left: 0px none rgb(153, 153, 153);
    font: italic normal normal normal 12px/normal Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    margin: 5px;
    outline: rgb(153, 153, 153) none 0px;
    padding: 3px 4px;
}/*#cse3-SELECT_9, #cse3-SELECT_17*/

#cse3-OPTION_10, #cse3-OPTION_11, #cse3-OPTION_13, #cse3-OPTION_15, #cse3-OPTION_18, #cse3-OPTION_20, #cse3-OPTION_22, #cse3-OPTION_24, #cse3-OPTION_26, #cse3-OPTION_28 {
    color: rgb(153, 153, 153);
    cursor: default;
    height: auto;
    text-indent: 0.00999999977648258px;
    width: auto;
    align-self: center;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    font: italic normal normal normal 12px/normal Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#cse3-OPTION_10, #cse3-OPTION_11, #cse3-OPTION_13, #cse3-OPTION_15, #cse3-OPTION_18, #cse3-OPTION_20, #cse3-OPTION_22, #cse3-OPTION_24, #cse3-OPTION_26, #cse3-OPTION_28*/

#cse3-OPTION_12, #cse3-OPTION_14, #cse3-OPTION_19, #cse3-OPTION_23, #cse3-OPTION_27 {
    color: rgb(153, 153, 153);
    cursor: default;
    height: auto;
    text-indent: 0.00999999977648258px;
    width: auto;
    align-self: center;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    font: italic normal normal normal 12px/normal Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#cse3-OPTION_12, #cse3-OPTION_14, #cse3-OPTION_19, #cse3-OPTION_23, #cse3-OPTION_27*/

#cse3-OPTION_16, #cse3-OPTION_21 {
    color: rgb(153, 153, 153);
    cursor: default;
    height: auto;
    text-indent: 0.00999999977648258px;
    width: auto;
    align-self: center;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    font: italic normal normal normal 12px/normal Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#cse3-OPTION_16, #cse3-OPTION_21*/

#cse3-OPTION_25 {
    color: rgb(153, 153, 153);
    cursor: default;
    height: auto;
    text-indent: 0.00999999977648258px;
    width: auto;
    align-self: center;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(153, 153, 153);
    font: italic normal normal normal 12px/normal Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    outline: rgb(153, 153, 153) none 0px;
}/*#cse3-OPTION_25*/

#cse3-INPUT_29 {
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 5px 10px -2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    white-space: pre;
    width: 79.890625px;
    align-items: flex-start;
    perspective-origin: 39.9375px 15px;
    transform-origin: 39.9375px 15px;
    background: rgb(0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 500 normal 10px/20px Raleway, arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 20px;
    transition: none 0s ease 0s;
}/*#cse3-INPUT_29*/

#cse3-INPUT_30 {
    box-sizing: content-box;
    display: none;
    height: auto;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font: normal normal normal normal 12px/normal Merriweather, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    margin: 5px;
    padding: 0px;
}/*#cse3-INPUT_30*/

