body{
transition: all 0.1s linear 0s;
	position: relative;
	left:0;
	right:0;
}
.side_menu{
		box-sizing: border-box;
	transition: all 0.1s linear 0s;
	// @include transform(translateX(250px));
	width:250px;
	padding:50px 40px;
	background:#3c3c3c;
	position: fixed;
	right:-250px;
	top:0;
	bottom:0;
	overflow-y:auto;
	z-index: 99;
	color:#dadada;

	label {
	font-weight: bold;
	font-size: 12px;
}

fieldset {
	border: 1px solid ;
font-size: 12px;
	line-height: 1.5;
	margin: 0 0 1.5em;
	padding: 0 1.5em 1.5em 1.5em;
}

legend {


	font-weight: bold;
	display: block;
	left: 0;
	margin: 0;
	padding: .5em .8em;
	position: relative;

	top: 0;
}

fieldset {
	padding-top: 1.5em;
}

legend {
	margin-top: 0;
	margin-bottom: 0;
}

textarea {
	min-height: 100px;
	overflow: auto;
	resize: vertical;
	width: 100%;
}

textarea,
select,
input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
input[class*="text"] {
		box-sizing: border-box;
	
	color: #999;
	// @include border-radius( 3px );
	border: none;
	border-bottom:1px solid ;
	background:transparent;
	height: 2.5em;
	padding: 3px 4px;

	.side_menu &{border-bottom-color:white}

	&:focus {
		outline: 0;
	}


}


input[type="search"]::-webkit-search-decoration {
	display: none;
}



button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	-webkit-appearance: none;
	cursor: pointer;
	outline: 0;
	overflow: visible;
	margin: 0;
	*padding-top: 2px;
	*padding-bottom: 0;

	vertical-align: top;
	width: auto;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

// Add Since 2013/12/2
// Remove button on chrome
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none; margin: 0;
}

button {
	// IE7
	*padding-top: 1px;
	*padding-bottom: 1px;
}

textarea,
select[size],
select[multiple] {
	height: auto;
}

// Set height back to normal,
// for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
	height: 1.8em;
	// IE7
	*height: auto;
}
select {
	background: url("../img/select.png") no-repeat scroll 94% center;
	text-indent: 0.01px;
	text-overflow: "";
	border:none;
	border-bottom: 1px solid ;
	border-radius:0;
	font-style: italic;
}



	.widget{
		color:white;
		padding-bottom:30px;
		border-bottom:1px solid #858585;

		.widget-title,.widgettitle,.widget_title{
			padding-top:30px;
			color:#858585;
			margin-bottom:20px;
		}

		a{
			color:white;
		}
	}
}
.push_menu{
	.widgettitle{
		margin:20px 0 20px;
	}
}
.side_menu_active{
	overflow:hidden;

	&.pushleft, &.pushleft .sidemenu_overlay{
		&.pushleft .sidemenu_overlay{
			right:0;
			left:250px!important;
		}
		right:auto;
		left:250px!important;

		.push_menu{
			left:0;
			z-index: 9999999;
		}
		.sticky_el{left:250px}
	}
	&.pushright, &.pushright .sidemenu_overlay{
		&.pushright .sidemenu_overlay{
			left:0;
			right:250px!important;
		}
		left:auto;
		right:250px!important;

		.push_menu{
			right:0;
			z-index: 9999999;
		}
		.sticky_el{right:250px}
	}
}

.sidemenu_overlay{
	position: fixed;
	left:0;
	right:0;
	height:100%;
	background:rgba(0,0,0,.7);
	z-index:-1;
	cursor:e-resize;
	opacity:0;
transition: all 0.1s linear 0s;

	.overlay_active &{
		z-index: 99999;
		opacity:1;
	}
}

.widget ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.widget_shopping_cart li.empty {
    padding: 0px;
}
.product_list_widget li {
    position: relative;
    padding-left: 46px;
    min-height: 46px;
    margin-bottom: 8px;
}
.widget_shopping_cart li {
    float: none;
    border-bottom: medium none;
}

.widget .widget-title, .widget .widget_title, .widget .widgettitle {
    font-size: 11px;
    font-family: Raleway,arial,sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 3px;
}
input[type="submit"], input[type="reset"] {
    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px 20px;
    margin: 10px 0px;
    border: medium none;
    border-radius: 3px;
    background: none repeat scroll 0% 0% #000;
    color: #FFF;
    font-family: "Raleway",arial,sans-serif;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 20px !important;
}